*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 80vh;
    width: 25vw;
    background-color: lavenderblush;
    position: relative;
}
#top{
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: aquamarine;
    gap: 1vh;
    /* margin-left: ; */
}
#top img:nth-child(1){
    border-radius: 50%;
    height: 9vh;
    margin-left: 1vh;
    width: 9vh;
    object-fit: cover;
    object-position: center;
    border: 2px solid rgb(255, 0, 153);
}
#top img{
    /* padding-left: 4px; */
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
    object-fit: cover;
    object-position: center;
    border: 2px solid rgb(255, 0, 153);
}
#story{
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    position: absolute;
}
#story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}